version: 2.1

git_restore_cache: &git_restore_cache
  restore_cache:
    keys:
      - source-v1-{{ .Branch }}-
      - source-v1-

git_save_cache: &git_save_cache
  save_cache:
    key: source-v1-{{ .Branch }}-
    paths:
      - ".git"

jobs:
  build:
    docker:
      - image: 'circleci/node:18'
    steps:
      - *git_restore_cache
      - checkout
      - run: npm ci --prefix _generator
      - run: node _generator/bin --scrape --generate --verbose

      - add_ssh_keys:
          fingerprints:
            - "c8:ab:69:e7:55:1b:ab:bc:c5:13:f1:48:61:66:20:ef"
      - run: git config user.email "josephdykstra@gmail.com"
      - run: git config user.name "ArtskydJ"

      - run: git add .
      - run: git commit -m "Build [skip ci]" || echo "No changes detected"
      - run: git push origin gh-pages
      - *git_save_cache


workflows:
  version: 2
  every_six_hours:
    triggers:
      - schedule:
          cron: "15 0,6,12,18 * * *"
          # https://cron.help/#15_*/6_*_*_*
          filters:
            branches:
              only:
                - gh-pages
    jobs:
      - build

  onpush:
    jobs:
      - build:
          filters:
            branches:
              only:
                - gh-pages

# To validate w/o committing, run `circleci config validate` on the command line
