<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	{{if subtemplate == 'index'}}
	<meta name="google-site-verification" content="Tk31ash1naJq9LaQiLemTrYorcKAfUrJ2xHCW745vVM">
	{{/if}}
	{{if subtemplate == 'preview'}}{{set root = '..'}}{{else}}{{set root = '.'}}{{/if}}
	<title>Comics RSS</title>
	<link rel="stylesheet" type="text/css" href="{{root}}/static/style.css">
	<link rel="icon" href="{{root}}/static/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="container">
		<nav>
			<a href="{{root}}/">
				<img src="{{root}}/static/comicsrss-logo.png" class="logo" alt="">
				<span class="nav-header">Comics RSS</span>
			</a>
		</nav>
	</div>

	{{include './'+subtemplate+'-subtemplate.html'}}

	<footer class="text-center">
		<a href="https://github.com/ArtskydJ/comicsrss.com">GitHub</a> -
		Made by <a href="https://www.josephdykstra.com">Joseph Dykstra</a>
	</footer>
</body>
</html>
